<!DOCTYPE html >
<html >
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<title>成功付款</title>
<link href="/static/css/public.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/buyConfirm.css" />
</head>
<body>
<div class="border_top_cart">
        <div class="container payment-con">
            <div class="order-info">
                <div class="msg">
                    <h3>您的订单已提交成功！～</h3>
                    <p></p>
                       <p class="post-date">正在等待商家接单</p>
                 </div>
                <div class="icon-box">
                    <i class="iconfont"><img src="/static/images/yes_ok.png"></i>
                </div>
            </div>
        </div>
</div>
</body>
</html>
